.footer {
    background: #1B1B1B;
}

.footer__logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 0 70px;
}

.footer__list-item a {
    font-family: var(--REGULAR);
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    color: var(--gray1);

}


@media screen and (max-width:560px) {
    .footer__list {
        flex-wrap: wrap;
    }

}